html,
body {
    overflow-x: hidden;
}

.bg-dark {
    background-color:  rgb(171, 102, 102) !important;
    background-image: linear-gradient(to bottom right, #ab6666, #bd8787);
}

.bg-gold {
    border: 0px solid transparent;
    border-top: 1px solid #ffffff !important;
    border-bottom: 1px solid #ffffff !important;
    background-color:  #D6C787 !important;
    background-image: linear-gradient(#D6C787, #ccb96a 50%, #d1c078);
    filter: none;
}
.bg-gold .nav-link {
    color: #262626 !important;
}
.bg-gold .nav-link:hover {
    text-decoration: underline !important;
}

.rounded-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.rounded-bottom {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.text-blue {
    color: #6666ab;
}
.text-blue:hover {
    color: #4f4f8f;
}

.img-bordered {
    border: 1px solid #262626;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}

#afsm-header {
    margin-left: 3px;
    margin-right: 3px;
}

@media screen and (max-width: 991px) {
    #afsm-header {
        margin-left: 0px;
        margin-right: 0px;
    }
  }

#afsm-header .bg-red {
    background-color:  #5f2042 !important;
    background-image: linear-gradient(#852d5d , #5f2042 50%, #5f2042);
}

#afsm-header nav {
    padding: 15px;
}

#afsm-header p {
    padding: 0 15px 15px;
}